<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User List</title>
  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-5">
    <h1 class="mb-4">All Leads</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">S no.</th>
          <th scope="col">Name</th>
          <th scope="col">Phone Number</th>
        </tr>
      </thead>
      <tbody>
        {{#each users}}
        <tr>
          <td>{{this.id}}</td>
          <td>{{this.username}}</td>
          <td>{{this.chatId}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <!-- Include Bootstrap JS and Popper.js (if needed) -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
